
<div class="modal fade" tabindex="-1" role="dialog" id="loginErrorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login unsuccessful</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- 회원 등록 모달 시작 -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <form name="registerForm" role="form" action="/api/register" method="post">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">회원 정보 등록</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="registerUserName" class="col-form-label">이름:</label>
            <input type="text" class="form-control" id="registerUserName" name="username">
          </div>
          <div class="form-group">
            <label for="registerUserPassword" class="col-form-label">비밀번호:</label>
            <input type="password" class="form-control" id="registerUserPassword" name="password">
          </div>
          <div class="form-group">
            <label for="registerUserPasswordConfirm" class="col-form-label">비밀번호 확인:</label>
            <input type="password" class="form-control" id="registerUserPasswordConfirm" name="passwordConfirm">
          </div>
          <div class="form-group">
            <label for="registerUserEmail" class="col-form-label">email:</label>
            <input type="text" class="form-control" id="registerUserEmail" name="email">
          </div>
          <div class="form-group">
            <label for="registerUserPhone" class="col-form-label">phone:</label>
            <input type="text" class="form-control" id="registerUserPhone" name="phone">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"id="registerUserBtn">회원정보 등록</button>
        </div>
      </div>
    </div>
  </form>
</div>




<!-- 회원 정보 수정 모달 시작 -->
<div class="modal fade" id="modifyUserModal" tabindex="-1" role="dialog" aria-labelledby="modifyUserModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <form name="modifyUserForm" >
    <input type="hidden" id="modifyUserId" name="id">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modifyUserModalLabel">회원 정보 수정</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="registerUserName" class="col-form-label">이름:</label>
            <input type="text" class="form-control" id="modifyUserName" name="username" readonly>
          </div>
          <div class="form-group">
            <label for="modifyUserPassword" class="col-form-label">비밀번호:</label>
            <input type="password" class="form-control" id="modifyUserPassword" name="password">
          </div>
          <div class="form-group">
            <label for="modifyUserPasswordConfirm" class="col-form-label">비밀번호 확인:</label>
            <input type="password" class="form-control" id="modifyUserPasswordConfirm" name="passwordConfirm">
          </div>
          <div class="form-group">
            <label for="registerUserEmail" class="col-form-label">email:</label>
            <input type="text" class="form-control" id="modifyUserEmail" name="email">
          </div>
          <div class="form-group">
            <label for="registerUserPhone" class="col-form-label">phone:</label>
            <input type="text" class="form-control" id="modifyUserPhone" name="phone">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"id="modifyUserBtn">회원정보 등록</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- 회원 탈퇴 모달 시작 -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="modifyUserModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <form name="deleteUserForm" >
    <input type="hidden" id="deleteUserId" name="id">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserModalLabel">회원 탈퇴 확인</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="deleteUserName" class="col-form-label">이름:</label>
            <input type="text" class="form-control" id="deleteUserName" name="username" readonly>
          </div>
          <div class="form-group">
            <label for="deleteUserPassword" class="col-form-label">비밀번호:</label>
            <input type="password" class="form-control" id="deleteUserPassword" name="password">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"id="deleteUserBtn">회원탈퇴</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
